body {
  background-color: #232e26;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* Top Menu Bar */
#topmenu {
  display: flex;
  justify-content: space-between;
  background-color: #d9efde;
  color: #232e26;
  border-radius: 20px;
  padding-right: 32px;
  padding-left: 32px;
  height: 36px;
  align-items: center;
}
.logo {
  font-weight: 700;
}
#topdiv {
  width: 100%;
  max-width: 620px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  width: 100%;
}
.about-us {
  display: flex;
  align-items: center;
  width: 81px;
  gap: 10px;
}
button {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.type1 {
  border: solid #232e26;
  border-width: 0.5px;
  border-radius: 25px;
  background-color: #d9efde;
  color: #232e26;
}
.type2 {
  border: solid #232e26;
  border-width: 0.5px;
  border-radius: 25px;
  background-color: #232e26;
  color: #d9efde;
}
/* Home Page  */
.home-page {
  display: flex;
  margin-top: 2cm;
  margin-right: 3cm;
  margin-left: 3cm;
  margin-bottom: 2cm;
}
img {
  border-radius: 20px;
}
/* Features Page */
.feature-page {
  display: flex;
  background-color: #d9efde;
  border-radius: 20px;

}
#features {
  display: flex;
  justify-content: space-between;
  margin-top: 2cm;
  margin-right: 3cm;
  margin-left: 3cm;
  margin-bottom: 2cm;
}
.all-features {
  display: flex;
  justify-content: space-between;
}
.feature-panel{
  width: 300px;
}